body {
    margin: 0 auto;
}

header {
    height: 60px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
    width: 100%;
    min-width: 1180px;
    overflow: hidden;
    position: fixed;
    background-color: #fff;
    z-index: 10;
    top: 0;
}

main {
    width: 1180px;
    margin: 80px auto 10px;
    position: relative;
    z-index: 1;
    min-height: 530px;
    height: auto;
}

nav {
    width: 130px;
    position: fixed;
    z-index: 2;
}

article {
    margin-left:160px;
    width: 710px;
    z-index: 1;
}

aside {
    width: 280px;
    position: fixed;
    top: 70px;
    margin-top: 10px;
    margin-left: 900px;
    z-index: 1;
}

.top-bar {
    width: 1180px;
    height: 40px;
    padding: 10px 0px 10px 0px;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    min-width: 1180px;
    padding: 0px 16px;
    box-sizing: border-box;
    height: 40px;
}
